<!DOCTYPE html>
<html>
<head>
	<title>Angular BACK</title>
	<script src="libs/jquery/dist/jquery.js"></script>
	<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>

	<script src="libs/angular-datatables/dist/angular-datatables.min.js"></script>
	<script src="libs/angular-ui-select/dist/select.js"></script>
	<script src="libs/angular-route/angular-route.js"></script>
	<script src="libs/angular-resource/angular-resource.js"></script>
	<script src="libs/ng-dialog/js/ngDialog.min.js"></script>

	<script src="libs/angular/app/app.js"></script>
	<script src="libs/angular/app/factories.js"></script>
	<script src="libs/angular/app/controllers.js"></script>

	<link rel="stylesheet" href="libs/angular-datatables/dist/css/angular-datatables.css">
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/ngModal/dist/ng-modal.css">
	<link rel="stylesheet" href="libs/angular-ui-select/dist/select.css">
	<link rel="stylesheet" href="libs/ng-dialog/css/ngDialog.min.css">
	<link rel="stylesheet" href="libs/ng-dialog/css/ngDialog-theme-default.min.css">
	<link href="css/datatables.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">


</head>
<body ng-app="myApp">

<br/>
<div ng-controller="InstrumentController">

    <table datatable="ng"  class="table table-striped table-bordered" >
    	<thead>
    		<th>id</th>
    		<th>name</th>
    		<th>type</th>
    	</thead>
    	<tr ng-repeat="inst in instruments">
    		<td>{{inst.id}}</td><td>{{inst.name}}</td><td>{{inst.type}}</td>
    	</tr>
    </table>
    <button ng-click="refreshData()">Refresh</button>

</div>




</body>
</html>
